$main-color : hsl(180, 42%, 70%);
$second-color : #f2c4a3;
$light-color : #f3f3f3;
$dark-color : rgba(30, 30, 31, 0.6);
$info-color : #9581ee;
$alert-color : #a1b2c3;
$success-color :  #81ee93;
$link-active-color : rgb(168, 35, 80);

