@import "variables";
@import "mixin";
@font-face {
    font-family: mikhak;
    src: url("../fonts/mikhak/Mikhak-VF-FD[wght\,KSHD\,DSTY].woff2")format("woff2");
}
body
{
    font-family: mikhak;
    overflow-x: hidden;
    padding-bottom: 300px;
    
}
.max-width-100
{
    max-width:100vw !important ;
    overflow: hidden;
}
.bg-main
{
    background : $main-color;
}
.bg-sec{
    background : $second-color;
}
.cursor-pointer
{
    cursor: pointer;
}
.navigation-link{ 
    transition : all .3s cubic-bezier(0.19, 1, 0.22, 1);
    font-size : 1.2rem ; 
    color : $dark-color;
    &:hover
    {
        color : $second-color;
    }   
   
}
header 
{
    position: relative;
    background : url("../img/slide.jpg");
    height : 120vh ; 
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;

    #top_menu
    {   
       
       
        .left
        {
        
        .navigation-icon
        {
            transition : all .3s cubic-bezier(0.19, 1, 0.22, 1);
            font-size : 1.5rem ; 
            color : $dark-color;
            &:hover
            {
                color : $second-color;
            }
        }
        }
    }
    .banner
    {
        position: absolute;
        top : 20%;
        left : 10%;
        h2
        {
            font-size: 7rem;
        }
        h4
        {
            font-size: 4rem;
            color : $main-color;
        }
        
    }
}

#product_section
{
    position: relative;
    .title
    {
        position: absolute;
        top: 0;
        
        
        padding: 1rem 2rem ;
        transform: translate(-50%,-50%);
        border-radius: 30px 2px 30px 2px;
    }
}
