@font-face {
  font-family: mikhak;
  src: url("../fonts/mikhak/Mikhak-VF-FD[wght,KSHD,DSTY].woff2") format("woff2"); }

html {
  overflow-x: hidden; }

body {
  font-family: mikhak;
  overflow-x: hidden;
  padding-bottom: 300px; }

.max-width-100 {
  max-width: 100% !important; }

.bg-main {
  background: #92d3d3; }

.bg-sec {
  background: #f2c4a3; }

.cursor-pointer {
  cursor: pointer; }

.navigation-link {
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  font-size: 1.2rem;
  color: rgba(30, 30, 31, 0.6); }
  .navigation-link:hover {
    color: #f2c4a3; }

header {
  position: relative;
  background: url("../img/slide.jpg");
  height: 120vh;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat; }
  header #top_menu .left img {
    max-height: 100px;
    max-width: 100px !important;
    padding: 1rem;
    border-radius: 50%;
    background-color: #f2c4a3; }
  header #top_menu .left .navigation-icon {
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    font-size: 1.5rem;
    color: rgba(30, 30, 31, 0.6); }
    header #top_menu .left .navigation-icon:hover {
      color: #f2c4a3; }
  header .banner {
    position: absolute;
    top: 20%;
    left: 10%; }
    header .banner h2 {
      font-size: 7rem; }
    header .banner h4 {
      font-size: 4rem;
      color: #92d3d3; }

#product_section {
  position: relative; }
  #product_section .title {
    position: absolute;
    top: 0;
    padding: 1rem 2rem;
    transform: translate(-50%, -50%);
    border-radius: 30px 2px 30px 2px; }
